.container{
    border: 8px inset #35ed3e;
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 131, 131);
}
.search{
    flex: 1;
}
@media all and (max-width: 600px){
  .container { flex-wrap: wrap;}

    .container > li {
        flex: 1 1 50%;}

    }
.search > input {
    text-align: center;
}
@media all and (max-width: 400px){
    .container > li {
        flex: 1 1 100%;}
}
.search{
    order:1;
}

li{list-style: none;}

