.container{
    border: 8px inset #ed4b4b;
    display: flex;
    flex-direction: row;
    background-color: rgb(118, 229, 39);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: space-evenly;
}

@media all and (max-width: 600px){
  .container { flex-wrap: wrap;}

    .container > li {
        flex: 1 1 50%;}

    }
.search > input {
    text-align: center;
}
@media all and (max-width: 400px){
    .container > li {
        flex: 1 1 100%;}
}
.search{
    order:;
}

li{list-style: none;}

